{% extends "base_template.html" %}
{% block title %}Receta{% endblock %}
{% block content %}
                
      <form action = "http://127.0.0.1:5000/compartir_receta" method = "post" class="compartir_receta">
            <h1>Nueva Receta</h1>
      <hr/> 
            <label for = "name">Nombre</label><br>
                  <input type = "text" name = "nombre" placeholder = "nombre" /><br> 		 
            <label for = "tiempo">Tiempo estimado(minutos)</label><br>
                  <input type = "text" name = "tiempo" placeholder = "tiempo"/><br>
            <label for = "descripcion">Descripcion</label><br>
                  <input type = "text" name = "descripcion" placeholder = "descripcion" /><br><p></p>
                  <input name='boton' type = "submit" value = "Ingresar ingredientes" class="btn btn-consultareceta"/>
 
      </form>	  
{% endblock %}
