{% extends "base_template.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<div class="tabla">
    <h3>RANKING DE RECETAS</h3>
    <hr>
    <table class="top">
    <tr>
        <th colspan="1" scope="col">Nombre</th>
        <th colspan="1" scope="col">usuario</th>
        <th colspan="1" scope="col">me gustas</th>
      </tr>
    </table>
    
    {%if receta is not none: %} <!-- SI LAS RECETAS(LISTA DE RECETAS) NO VIENE VACIO ENTRA AL IF-->
    {%for rece in receta%}
    
    <table class="buttom">
<tr>
    <td>{{ rece.nombre }}</td>
    {% set user=Receta.query.filter_by(usuarioid=rece.usuarioid).first() %}
    <td>{{user.nombre}}</td>
    <td>{{ rece.cantidadmegusta }}</td>
</tr>
</table>
    {% endfor %}
    <div class="menuref">
    <br><br><a href = "{{ url_for('menu') }}" >MENU </a><br><br>
</div>
{%endif%}
{% endblock %}
