{% extends "base_template.html" %}
{% block title %}ingredientes{% endblock %}
{% block content %}
    <div class="ingrediente">
        <table style="border: inset 0pt" >
        <tr style="border: inset 0pt">
            <td style="border: inset 0pt"><label>Ingredientes </label></td>
            <td style="border: inset 0pt"><label>Cantidad</label></td>
            <td style="border: inset 0pt"><label>Unidad de medida</label><br></td>
            </tr>
    
        <form action = "http://127.0.0.1:5000/ingredientes" method = "post">
            <tr style="border: inset 0pt">
                <td style="border: inset 0pt"><input type = "text" name = "ingrediente" placeholder = "ingrediente" /></td>
                <td style="border: inset 0pt"><input type = "text" name = "cantidad" placeholder = "cantidad" /></td>
                <td style="border: inset 0pt">    <input type = "text" name = "medida" placeholder = "medida" /><br></td>
            </tr>
        </table>
                <input id="recetaid" name="recetaid" type="hidden" value="{{receta.id}}"/>
                <input type = "submit" value = "+" class="btn btn-ingredientes"/>
                <input type = "submit" value = "Terminar" class="btn btn-ingredientes"/>
            
        </form>
        
    </div>

    <div class="MostrarIngre">
            <h3>INGREDIENTES AGREGADOS</h3>
            <hr>
        {%if user is not none: %} <!-- SI EL USUARIO(LISTA DE INGREDIENTES DE LA RECETA) NO VIENE VACIO ENTRA AL IF-->
            {% for ingre in user %}
        <tr>
            <a>{{ ingre.nombre }}</a>
            <a>{{ ingre.cantidad }}</a>
            <a>{{ ingre.unidad }}</a><br>
            <hr>
        </tr>
            {% endfor %}
        {%endif%}
    </div>
{% endblock %}

