{% extends "base_template.html" %}
{% block title %}Receta{% endblock %}
{% block content %}
<div class="verReceta">
    <h1>{{receta.nombre}}</h1>
    <hr>
<ul>
    {%for ingre in ingredientes%}
    <li>{{ingre.nombre}}</li>
    {%endfor%}
    <hr>
    <li>{{receta.elaboracion}}</li>
</ul>
<hr>
{%if user != receta.usuarioid :%}
<form action = "http://127.0.0.1:5000/megusta" method = "post">
    <input type = "hidden" name = "recetaid" value="{{receta.id}}"/><br>
    <input type = "submit" value = "Me gusta" />
</form>
</div>
{%endif%}
{% endblock %}