body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #464;
  background-image: url("logo.jpeg");
  background-size:cover;
  background-attachment:fixed;
}
header {
  background-color: #DFB887;
  height: 10%;
  width: 100%;
  opacity: .9;
  margin-bottom: 2%;
}
/* INICIO*/
.inicio-button {
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin: 250px auto;
  background-color: rgba(85, 85, 85, 0.233);
}
.inicio-button h1 { 
  margin: 5px auto;
	font-family: serif;
  font-size: 40px;
	text-align: center;
	color: #000000; 
}
.inicio-button input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.6;
  text-size-adjust: 10px;
}
.inicio-button label {
  color:rgb(255, 255, 255);
	font-weight: bold; 
	color: #ffffff;
}
.inicio-button a {
  text-align: center;
  margin-bottom: 10px;
  color: #420b0b;
  display: inline-block;
  padding: 6px;
}
.inicio-button h2{
  color: #420b0b;
  font-size: 30px;
}
/*BOTONES*/
.btn{
  border-radius: 2%;
  text-decoration: overline;
} 
.btn-inicio{
  color: rgb(253, 231, 231);
  background-color: #420b0b;
}
.btn-consultareceta{
  color: rgb(253, 231, 231);
  background-color: #420b0b;
  font-size: 20px;
}
.btn-ingredientes{
  color: rgb(253, 231, 231);
  background-color: #08358898;
  font-size: 20px;

}
/* MENUUUUUU*/
.UsuarioRegistrado{
  font-weight: bold;
  text-align: center;
  text-align-last: center;
  font-size: 40px;
}
.UsuarioRegistrado a { 
	background-color: #420b0b81;
  color:rgb(255, 255, 255);
  font-size: 30px;
}
.UsuarioRegistrado ul { 
  margin: 250px auto;
	background-color: #420b0b5b;
  width: 300px; 
}
/* COMPARTIR RECETA*/
.compartir_receta{
  margin: 250px auto;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  text-size-adjust: 10px;
  padding: 10px;
}
.compartir_receta label {
  color:rgb(255, 255, 255);
	font-weight: bold; 
	color: #ffffff;
}

.compartir_receta h1{
  margin: 5px auto;
	font-family: serif;
  font-size: 40px;
	text-align: center;
	color: #000000;
}
.compartir_receta input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.7;
  text-size-adjust: 10px;
  padding: 5px;
}
.compartir_receta label{
  color: #41413e;
  text-decoration-color: #420b0b;
}
/*COMPARTIR RECETA(INGRESO DE INGREDEINTES)*/
.ingrediente{
  font-weight: bold; 
  margin-top: 150px;
  margin-right: 800px;
  color: rgb(56, 4, 0);
  background-color: #b6b6b66c;
  text-align: center
}
.MostrarIngre{
  width: 400px;
  margin-left: 1000px;
  text-align: center;
  text-align-last: center;
  background-color: #b6b6b66c;
  color: #1e1438;
  font-weight:bolder; 
}
.MostrarIngre h3{
  font-weight:bold;
  color: rgb(56, 4, 0);
  margin: 10px auto;
  
}
/**/
p {
	margin-left: 2em; 
	color: #123A42;
}
ul {
  list-style-type: none;
  margin-left: 2em; 
  padding: 0;
  width: 200px;

}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 2em; 
}
th, td {
  padding: 5px;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}

.tabla .buttom{
  border: none;
  text-align: center;
  empty-cells:show;
  margin: 0px auto;
  table-layout:fixed; width: 500px;
  border-collapse: separate; 
  color: rgb(56, 4, 0);
  border-inline-color: #6b58a463;
}
.tabla .top{
  
  text-align: center;
  table-layout:fixed;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: rgb(56, 4, 0);
  
}
.tabla h3{
  font-weight:bold;
  color: rgb(56, 4, 0);
  width: 400px;
  margin: 20px auto;
  text-align: center;
}
.menuref{
  
  text-align: center;
}


