body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #464;
  background-color: #6b58a463;
}
header {
  background-color: #DFB887;
  height: 10%;
  width: 100%;
  opacity: .9;
  margin-bottom: 2%;
}

h1 { 
	font-family: serif; 
	text-align: center;
	color: #377ba8; 
}
h2 {
  font-size: 3em;
  margin-top: 40px;
 
  letter-spacing: -2px;
}
p {
	margin-left: 2em; 
	color: #123A42;
}

ul {
  list-style-type: none;
  margin-left: 2em; 
  padding: 0;
  width: 200px;

}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 2em; 
}
th, td {
  padding: 5px;
}
.container {

  background-color: #ff123fff;
  width: 400px;
  height: 400px;
}
.container label { 
	font-weight: bold; 
  margin-bottom: 10em; 
	margin-left: 10em; 
	color: #0f1b36;
}
.container textarea { 
	min-height: 12em; 
	resize: vertical; 
	margin-left: 2em;
}
.container select { 
	margin-bottom: 1em; 
	margin-left: 4em;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}
.myDiv{
  text-align: center;
}

.myDiv button{
  
  width: 220px;
  margin: 50px auto;
}
.myDiv label { 
	font-weight: bold; 
	color: #377ba8;
  text-align: left;
}
.myDiv a {

  text-align: center;
  display: block;
  color: rgb(56, 4, 0);
  padding: 8px 16px;
}
.myDiv input {
  text-align-last: left;
  border-radius:5px;
  text-align: center;
  background-color: #6b58a463;
}
.UsuarioRegistrado{
  font-weight: bold; 
  width: 220px;
  margin: 10px auto;
  stroke-width:150px ;
  text-align: center;
  text-align-last: center;
  
}
.UsuarioRegistrado ul { 
	background-color: #52649086;
}
.ingredientes{
  font-weight: bold; 
  text-align-last: center;
  margin: 0px auto;
  text-align: center;
}

