body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #464;
  background-image: url("logo.jpeg");
  background-size:cover;
  background-attachment:fixed;
}
header {
  background-color: #DFB887;
  height: 10%;
  width: 100%;
  opacity: .9;
  margin-bottom: 2%;
}
/* INICIO*/
.inicio-button {
  font-size: 20px;
  text-align: center;
  width: 300px;
  margin: 250px auto;
  background-color: rgba(85, 85, 85, 0.233);
}
.inicio-button h1 { 
  margin: 5px auto;
	font-family: serif;
  font-size: 40px;
	text-align: center;
	color: #420909; 
}
.inicio-button input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.6;
  text-size-adjust: 10px;
}
.inicio-button label {
  color:rgb(255, 255, 255);
	font-weight: bold; 
	color: #ffffff;
}
.inicio-button a {
  text-align: center;
  margin-bottom: 10px;
  color: #420b0b;
  display: inline-block;
  padding: 6px;
}
.inicio-button h2{
  color: #420b0b;
  font-size: 30px;
}
/*BOTONES*/
.btn{
  border-radius: 2%;
  text-decoration: overline;
} 
.btn-inicio{
  color: rgb(253, 231, 231);
  background-color: #420b0b;
}
.btn-consultareceta{
  color: rgb(253, 231, 231);
  background-color: #420b0b;
  font-size: 20px;
}
.btn-ingredientes{
  color: rgb(253, 231, 231);
  background-color: #88080898;
  font-size: 20px;
  margin: 15px 15px;
  border-radius: 10%;
}
.btn-tiempo{
  color: rgb(253, 231, 231);
  background-color: #420b0b;
  font-size: 20px;
  margin: 15px 15px;
}
.btn-megusta{
  background-color: #420b0b;
  border-radius: 12px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 100px;
  cursor: pointer;
}

/* MENUUUUUU*/
.UsuarioRegistrado{
  font-weight: bold;
  text-align: center;
  text-align-last: center;
  font-size: 50px;
}
.UsuarioRegistrado a { 
	background-color: #420b0b5b;
  color:rgb(255, 255, 255);
  font-size: 40px;
  text-decoration: none;
  display: block;
  width: 800px;
}
.UsuarioRegistrado ul { 
  margin: 250px auto;
  width: 800px;
  list-style-type: none;
  padding: 0;
}
.UsuarioRegistrado li{
  display: block;
  width: 100px;
}
.UsuarioRegistrado li a:hover {
  background-color: rgb(71, 13, 13);;
}
/* COMPARTIR RECETA*/
.compartir_receta{
  margin: 250px auto;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  text-size-adjust: 10px;
  padding: 10px;
}
.compartir_receta label {
  color:rgb(255, 255, 255);
	font-weight: bold; 
	color: #ffffff;
}
.compartir_receta h1{
  margin: 5px auto;
	font-family: serif;
  font-size: 40px;
	text-align: center;
	color: #000000;
}
.compartir_receta input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.7;
  text-size-adjust: 10px;
  padding: 5px;
}
.compartir_receta label{
  color: #41413e;
  text-decoration-color: #420b0b;
}
/*COMPARTIR RECETA(INGRESO DE INGREDEINTES)*/
.ingrediente{
  margin: 200px auto;
  margin-bottom: 0%;
  width: center;
  height: 120px;
  font-weight: bold; 
  color: rgb(56, 4, 0);
  background-color: #b6b6b66c;
  text-align: center;
}
.ingrediente td{
  font-size: 20px;
}
.ingrediente table{
  margin: 0px auto;
}
.ingrediente input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.9;
  text-size-adjust: 10px;
}
/*CONSULTAR RANKING*/
.consultar-ranking{
  margin: 200px auto;
  margin-bottom: 0%;
  color:rgb(255, 255, 255); 
  font-size: 18px;
}
.consultar-ranking hr{
  width: 100px;
}
.consultar-ranking h3{
  font-weight:bold;
  color: rgb(56, 4, 0);
  font-size: 35px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
}
/*BUSCAR RECETA POR TIEMPO*/
.consultar-tiempo{
  margin: 220px auto;
  width: 700px;
  height: 150px;
  text-align: center;
}
.consultar-tiempo h3{
  color: rgb(56, 4, 0);
  font-weight: bold; 
  font-size: 40px;
  margin-bottom: 0%;
}
.consultar-tiempo input{
  border-radius: 4px;
  border: 1px solid black;
  font-size: 20px;
  opacity: 0.9;
  text-size-adjust: 10px;
  text-align: center;
}
/* VER RECETA*/
.ver-receta{
  color: rgb(255, 255, 255);
  margin: 200px auto;
  width: 500px;
  background-color: #b6b6b6b9;
  text-align: center;
}
.ver-receta h1{
  font-weight: bold; 
  color: rgb(56, 4, 0);
}
.ver-receta a{
  width: 200px;
}
.ver-receta hr{
  width: 200px;
}
.ver-receta ul{
  list-style-type: none;
  margin: 20px;
}
.ver-receta li{
  color: rgb(95, 11, 11);
  background-color: #000000;
  width: 200px;
}

th, td {
  padding: 5px;
}
.tabla .buttom{
  border: none;
  text-align: center;
  empty-cells:show;
  margin: 0px auto;
  table-layout:fixed; width: 500px;
  border-collapse: separate; 
  color: rgb(255, 255, 255);
  border-inline-color: #6b58a463;
  background-color: #420b0b7e;
}
.tabla .top{
  text-align: center;
  table-layout:fixed;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  background-color: #420b0bc2;
}
.tabla h3{
  font-weight:bold;
  color: rgb(56, 4, 0);
  width: 400px;
  margin: 20px auto;
  text-align: center;
}
.menuref{
  text-align: center;
}
.menuref a{
  color:rgb(255, 255, 255);
}


